<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.school.haitamelattar.freeob">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvertsActivity"
            android:label="Advertenties" />
        <activity
            android:name=".AdvertDetailActivity"
            android:label="Advertentie" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:label="Instellingen" />
        <activity
            android:name=".ProfileActivity"
            android:label="Mijn profile" />
        <activity
            android:name=".AddAdvertActivity"
            android:label="Advertentie toevoegen" />
        <activity android:name=".SingUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>